@import url(./font.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  text-decoration: none !important;
}

body {
  overflow-x: hidden;
  font-family: "Source Serif";
  font-weight: 400;
}

.container {
  max-width: 768px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 67px;
  text-decoration: none;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  padding: 0 150px;
  position: sticky;
  z-index: 99;
  top: 0;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
}
header b {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.16px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #222222;
}

.blog-1 {
  display: flex;
  align-items: center;
  gap: 8px;
}
.blog-1 img {
  width: 18px;
  height: 19px;
}
.blog a {
  font-family: "Source Serif";
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  line-height: 15.04px;
  letter-spacing: 0.16em;
  text-align: left;
  color: #222222;
}
.blog {
  display: flex;
  align-items: center;
  gap: 39px;
}

.section-1 {
  margin-top: 150px;
}

.woman {
  width: 220px;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}

h1 {
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  line-height: 123%;
  text-align: center;
}

.media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.playtime {
  position: relative;
}

.line-black {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 0;
}

.time-music {
  display: block;
  color: #555;
  margin: 0;
}

.music-player {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 30px;
}
