@import url(./font.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 67px;
  margin-top: 40px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-top: 12px;
  height: 40%;
}
header b {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.16px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #222222;
}

.blog-1 {
  display: flex;
  align-items: center;
  gap: 8px;
}
.blog-1 img {
  width: 18px;
  height: 19px;
}
.blog a {
  font-family: "Source Serif";
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  line-height: 15.04px;
  letter-spacing: 0.16em;
  text-align: left;
  color: #222222;
}
.blog {
  display: flex;
  align-items: center;
  gap: 39px;
}


